h1 {font-size: 3.125em;}
h2 {font-size: 2.618em;}
h3 {font-size: 1.931em;}
h4 {font-size: 1.618;}
h5 {font-size: 1.194em;}
h6 {font-size: 1em;}

body {
  color: #F4F4F4;
  font-size: initial;
  background-color: #1a1a1a;
}
code, pre {
  font-size: .9em;
  color: #6298e0;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: #494949;
}

table {
  width: 100%;
}

details {
  padding: .5em;
  margin: 1.25em;
  box-shadow: 1px 1px 2px #494949;
  background-color: rgba(0, 0, 0, 0.4);
}

details > summary {
  cursor: pointer;
}

details > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#git-wiki-toc li ol {
  margin:  0px;
}

/* Page navigation overrides */

.git-wiki-page-list ul ul {
  padding-left: 1rem;
  margin-bottom: 0;
}

@media print, screen and (max-width: 480px) {
  #git-wiki-sidebar .git-wiki-downloads {
    width: 89px;
  }
}